
# User specific variables
#------------------------
project_name = "YOUR_AIVEN_PROJECT_NAME"

# Cloud
#------------------------
service_cloud = "google-europe-west2"

# Plan Sizes
#------------------------
service_plan_cassandra = "startup-4"

# Security
#------------------------
ips = [{ 
	network = "0.0.0.0/0"
	description = "anything"
}]

# Demo name
#------------------------
service_name_prefix = "callsign"

